.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.image-wrapper,
.btn-wrap,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Instrument Sans;
}
.display-1 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 2.1rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.625rem;
}
.display-7 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.68rem;
    font-size: calc( 1.385rem + (2.1 - 1.385) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.385rem + (2.1 - 1.385) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #bed2f5 !important;
}
.bg-success {
  background-color: #3a341c !important;
}
.bg-info {
  background-color: #4f6df5 !important;
}
.bg-warning {
  background-color: #a0e2e1 !important;
}
.bg-danger {
  background-color: #ffea64 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #bed2f5 !important;
  border-color: #bed2f5 !important;
  color: #18489c !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #eaf1fc !important;
  border-color: #eaf1fc !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #18489c !important;
  background-color: #eaf1fc !important;
  border-color: #eaf1fc !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #d9db4d !important;
  border-color: #d9db4d !important;
  color: #222207 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #e2e477 !important;
  border-color: #e2e477 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #222207 !important;
  background-color: #e2e477 !important;
  border-color: #e2e477 !important;
}
.btn-info,
.btn-info:active {
  background-color: #4f6df5 !important;
  border-color: #4f6df5 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #7f95f8 !important;
  border-color: #7f95f8 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #7f95f8 !important;
  border-color: #7f95f8 !important;
}
.btn-success,
.btn-success:active {
  background-color: #3a341c !important;
  border-color: #3a341c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
  color: #1f6463 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #1f6463 !important;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
  color: #645600 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #645600 !important;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #bed2f5;
  color: #bed2f5;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #739ee9 !important;
  background-color: transparent !important;
  border-color: #739ee9 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #18489c !important;
  background-color: #bed2f5 !important;
  border-color: #bed2f5 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #d9db4d;
  color: #d9db4d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #acae23 !important;
  background-color: transparent !important;
  border-color: #acae23 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #222207 !important;
  background-color: #d9db4d !important;
  border-color: #d9db4d !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #4f6df5;
  color: #4f6df5;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0d33e1 !important;
  background-color: transparent !important;
  border-color: #0d33e1 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #4f6df5 !important;
  border-color: #4f6df5 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #3a341c;
  color: #3a341c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3a341c !important;
  border-color: #3a341c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #a0e2e1;
  color: #a0e2e1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5ececc !important;
  background-color: transparent !important;
  border-color: #5ececc !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #1f6463 !important;
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffea64;
  color: #ffea64;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffde0d !important;
  background-color: transparent !important;
  border-color: #ffde0d !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #645600 !important;
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #bed2f5 !important;
}
.text-secondary {
  color: #d9db4d !important;
}
.text-success {
  color: #3a341c !important;
}
.text-info {
  color: #4f6df5 !important;
}
.text-warning {
  color: #a0e2e1 !important;
}
.text-danger {
  color: #ffea64 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #6695e7 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a0a121 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #0c30d2 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #52cac8 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #fddb00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #fafafa !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #bed2f5;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #4f6df5;
}
.alert-warning {
  background-color: #a0e2e1;
}
.alert-danger {
  background-color: #ffea64;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #bed2f5;
  border-color: #bed2f5;
  color: #1b52b2;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #bed2f5;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c0b27c;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #bed2f5 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #bed2f5;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #bed2f5;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #bed2f5;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #bed2f5;
  border-bottom-color: #bed2f5;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #bed2f5 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #d9db4d !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23bed2f5' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-uv4l5krsPy {
  overflow: hidden;
  background-color: #ffffff;
}
.cid-uv4l5krsPy .mbr-fallback-image.disabled {
  display: none;
}
.cid-uv4l5krsPy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uv4l5krsPy .container-fluid {
  padding: 0 80px;
}
@media (max-width: 992px) {
  .cid-uv4l5krsPy .container-fluid {
    padding: 0 24px;
  }
}
@media (max-width: 992px) {
  .cid-uv4l5krsPy .container {
    padding: 0 24px;
  }
}
.cid-uv4l5krsPy .content-wrapper {
  padding: 50px;
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 100vh;
}
@media (max-width: 992px) {
  .cid-uv4l5krsPy .content-wrapper {
    padding: 0;
  }
}
.cid-uv4l5krsPy .content-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: .75rem !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-uv4l5krsPy .content-wrapper .card-wrap {
  position: relative;
  z-index: 1;
  display: inline-flex;
  flex-direction: column;
  width: 50%;
  padding: 48px;
  background-color: #ffffff;
  border-radius: .75rem !important;
}
@media (max-width: 1500px) {
  .cid-uv4l5krsPy .content-wrapper .card-wrap {
    width: 65%;
  }
}
@media (max-width: 1200px) {
  .cid-uv4l5krsPy .content-wrapper .card-wrap {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .cid-uv4l5krsPy .content-wrapper .card-wrap {
    padding: 24px;
  }
}
.cid-uv4l5krsPy .content-wrapper .card-wrap .mbr-desc {
  width: 100%;
  margin-bottom: 16px;
}
.cid-uv4l5krsPy .content-wrapper .card-wrap .mbr-section-title {
  width: 100%;
  margin-bottom: 24px;
}
.cid-uv4l5krsPy .content-wrapper .card-wrap .mbr-text {
  width: 100%;
  margin-bottom: 0;
}
.cid-uv4l5krsPy .content-wrapper .card-wrap .mbr-section-btn {
  width: 100%;
  margin-top: 16px;
}
.cid-uv4l5krsPy .content-wrapper .card-wrap .mbr-section-btn .btn::before {
  background-image: linear-gradient(90deg, #fb8fc9 0%, transparent 100%);
}
.cid-uv4l5krsPy .content-wrapper .card-wrap .mbr-section-btn .btn:hover,
.cid-uv4l5krsPy .content-wrapper .card-wrap .mbr-section-btn .btn:focus {
  box-shadow: inset 250px 10px 5px #7f89e9 !important;
  border-color: #7f89e9 !important;
}
.cid-uv4l5krsPy .mbr-section-title {
  color: #141414;
}
.cid-uv4l5krsPy .mbr-desc {
  color: #141414;
}
.cid-uv4l5krsPy .mbr-text {
  color: #141414;
}
.cid-uwctSchRL1 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uwctSchRL1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uwctSchRL1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uwctSchRL1 .container-fluid {
  padding: 0 80px;
}
@media (max-width: 992px) {
  .cid-uwctSchRL1 .container-fluid {
    padding: 0 24px;
  }
}
@media (max-width: 992px) {
  .cid-uwctSchRL1 .container {
    padding: 0 24px;
  }
}
.cid-uwctSchRL1 .row {
  justify-content: center;
}
.cid-uwctSchRL1 .content-wrapper {
  border-radius: 40px;
  background-color: #f3f4f7;
  padding: 110px;
}
@media (max-width: 992px) {
  .cid-uwctSchRL1 .content-wrapper {
    padding: 40px;
  }
}
@media (max-width: 768px) {
  .cid-uwctSchRL1 .content-wrapper {
    padding: 32px;
  }
}
.cid-uwctSchRL1 .content-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-uwctSchRL1 .content-wrapper .mbr-text {
  margin: 16px 0 0;
}
.cid-uwctSchRL1 .mbr-section-title {
  color: #4f6df5;
}
.cid-uwctSchRL1 .mbr-text {
  color: #262642;
}
.cid-uwclNKrbj4 {
  background-color: #ffffff;
}
.cid-uwclNKrbj4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uwclNKrbj4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uwclNKrbj4 .content-wrapper {
  padding: 110px 80px;
  background-color: #f3f4f7;
  border-radius: 2rem;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .cid-uwclNKrbj4 .content-wrapper {
    padding: 110px 40px;
  }
}
@media (max-width: 992px) {
  .cid-uwclNKrbj4 .content-wrapper {
    padding: 40px 16px;
    border-radius: 2rem;
  }
}
.cid-uwclNKrbj4 .content-wrap {
  margin-bottom: 70px;
}
@media (max-width: 992px) {
  .cid-uwclNKrbj4 .content-wrap {
    margin-bottom: 35px;
  }
}
.cid-uwclNKrbj4 .content-wrap .mbr-desc {
  margin-bottom: 95px;
}
@media (max-width: 992px) {
  .cid-uwclNKrbj4 .content-wrap .mbr-desc {
    margin-bottom: 35px;
  }
}
.cid-uwclNKrbj4 .content-wrap .mbr-section-title {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .cid-uwclNKrbj4 .content-wrap .mbr-section-title {
    margin-bottom: 15px;
  }
}
.cid-uwclNKrbj4 .content-wrap .mbr-text {
  margin-bottom: 0;
}
.cid-uwclNKrbj4 .image-wrapper {
  margin-bottom: 70px;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 992px) {
  .cid-uwclNKrbj4 .image-wrapper {
    margin-bottom: 35px;
  }
}
.cid-uwclNKrbj4 .image-wrapper img {
  height: 464px;
  width: 150%;
  border-radius: 2rem;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uwclNKrbj4 .image-wrapper img {
    height: 350px;
    width: 100%;
  }
}
.cid-uwclNKrbj4 .item {
  margin-bottom: 45px;
}
@media (max-width: 992px) {
  .cid-uwclNKrbj4 .item {
    margin-bottom: 35px;
  }
  .cid-uwclNKrbj4 .item:last-child {
    margin-bottom: 0;
  }
}
.cid-uwclNKrbj4 .item .item-wrapper .card-box .icon-wrapper {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .cid-uwclNKrbj4 .item .item-wrapper .card-box .icon-wrapper {
    margin-bottom: 15px;
  }
}
.cid-uwclNKrbj4 .item .item-wrapper .card-box .icon-wrapper .mbr-iconfont {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #4f6df5;
  color: #ffffff;
  font-size: 60px;
}
.cid-uwclNKrbj4 .item .item-wrapper .card-box .item-title {
  margin-bottom: 0;
}
.cid-uwclNKrbj4 .item .item-wrapper .card-box .item-desc {
  margin-bottom: 0;
}
.cid-uwclNKrbj4 .item .item-wrapper .card-box .item-text {
  margin: 30px 0 0 0;
}
.cid-uwclNKrbj4 .mbr-section-title {
  color: #000000;
}
.cid-uwclNKrbj4 .mbr-desc {
  color: #000000;
}
.cid-uwclNKrbj4 .mbr-text {
  color: #000000;
}
.cid-uwclNKrbj4 .item-title {
  color: #000000;
}
.cid-uwclNKrbj4 .item-desc {
  color: #000000;
}
.cid-uwclNKrbj4 .item-text {
  color: #000000;
}
.cid-usXT3Lhi6P {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-usXT3Lhi6P .item-img {
  position: relative;
}
.cid-usXT3Lhi6P .item-img img {
  transition: all 0.2s;
  object-fit: cover;
}
.cid-usXT3Lhi6P .cardbg {
  background: #eaf1fc;
  height: 100%;
  min-height: 300px;
}
.cid-usXT3Lhi6P .mbr-section-subtitle {
  border: 1px solid currentColor;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.2rem 0.7rem;
  display: inline-block;
}
.cid-usXT3Lhi6P .image-wrapper {
  overflow: hidden;
}
.cid-usXT3Lhi6P .item1 {
  margin-bottom: 2rem !important;
}
.cid-usXT3Lhi6P .item-wrapper {
  position: relative;
  background: #ffffff;
  border: 3px solid #ffffff;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-usXT3Lhi6P .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-usXT3Lhi6P .item-link {
  position: absolute;
  bottom: 8px;
  right: 90px;
  color: #ffffff;
}
.cid-usXT3Lhi6P .item1,
.cid-usXT3Lhi6P .item {
  transition: transform 0.3s;
  margin-bottom: 2rem;
}
.cid-usXT3Lhi6P .item1 .item:hover,
.cid-usXT3Lhi6P .item .item:hover {
  cursor: pointer;
}
.cid-usXT3Lhi6P .item1:hover .link-icon-wrapper span,
.cid-usXT3Lhi6P .item:hover .link-icon-wrapper span {
  transform: rotate(-20deg) scale(1.3);
}
@media (max-width: 992px) {
  .cid-usXT3Lhi6P .card2 {
    margin-top: 1rem;
  }
}
.cid-usXT3Lhi6P .link-icon-wrapper {
  position: absolute;
  right: -1px;
  padding: 2px;
  bottom: -1px;
  background: #ffffff;
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 2rem;
  z-index: 3;
}
.cid-usXT3Lhi6P .link-icon-wrapper .icon-wrap {
  background: #000000;
  width: 55px;
  height: 55px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.cid-usXT3Lhi6P .link-icon-wrapper .icon-wrap span {
  color: #ffffff;
  font-size: 1.1rem;
  transition: all 0.3s;
  display: block;
  padding-top: 1px;
}
.cid-usXT3Lhi6P .link-icon-wrapper .svg1 {
  position: absolute;
  top: -29px;
  right: 0px;
  transform: rotate(180deg);
  width: 30px;
}
.cid-usXT3Lhi6P .link-icon-wrapper .svg1 path {
  fill: #ffffff;
}
.cid-usXT3Lhi6P .link-icon-wrapper .svg2 {
  position: absolute;
  transform: rotate(180deg);
  width: 30px;
  bottom: 0;
  left: -29px;
}
.cid-usXT3Lhi6P .link-icon-wrapper .svg2 path {
  fill: #ffffff;
}
.cid-usXT3Lhi6P .item-content {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  padding: 0 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 767px) {
  .cid-usXT3Lhi6P .item-content {
    padding: 0 1rem 1.4rem;
    margin-top: 1rem;
  }
}
.cid-usXT3Lhi6P img,
.cid-usXT3Lhi6P .item-img {
  width: 100%;
}
.cid-usXT3Lhi6P .item:focus,
.cid-usXT3Lhi6P span:focus {
  outline: none;
}
@media (max-width: 767px) {
  .cid-usXT3Lhi6P .item {
    margin-bottom: 1rem;
  }
}
.cid-usXT3Lhi6P .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-usXT3Lhi6P .item-title {
  text-align: left;
  color: #000000;
}
.cid-usXT3Lhi6P .item-subtitle {
  text-align: left;
  color: #ffffff;
}
.cid-usXT3Lhi6P .mbr-section-subtitle,
.cid-usXT3Lhi6P .subtitle-wrap,
.cid-usXT3Lhi6P .mbr-section-btn {
  text-align: left;
}
.cid-usXT3Lhi6P .mbr-text,
.cid-usXT3Lhi6P .item .mbr-section-btn {
  color: #000000;
}
.cid-tQnUU5FSPc {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tQnUU5FSPc .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQnUU5FSPc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQnUU5FSPc p a:hover {
  text-decoration: underline;
}
.cid-tQnUU5FSPc h2 {
  line-height: 1.3;
}
.cid-tQnUU5FSPc img {
  object-fit: cover;
}
.cid-tQnUU5FSPc .mbr-link {
  margin-right: 2rem;
}
@media (max-width: 767px) {
  .cid-tQnUU5FSPc .mbr-link {
    margin-right: 0rem;
    margin-top: 1rem;
  }
}
.cid-tQnUU5FSPc .row {
  margin: 0;
  justify-content: flex-end;
}
.cid-tQnUU5FSPc .icon-wrap {
  display: inline-flex;
}
@media (max-width: 767px) {
  .cid-tQnUU5FSPc .icon-wrap {
    margin-top: 1rem;
  }
}
.cid-tQnUU5FSPc .card-box {
  width: 100%;
  flex-direction: row;
}
.cid-tQnUU5FSPc .icon {
  color: #ffffff !important;
  font-size: 1.5rem;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-top: 1px;
  margin: 0 0.5rem;
}
.cid-tQnUU5FSPc .card-wrapper {
  display: flex;
  padding: 0rem;
}
@media (max-width: 767px) {
  .cid-tQnUU5FSPc .card-wrapper {
    padding: 1rem 0rem;
    min-height: 500px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tQnUU5FSPc .card-wrapper {
    padding: 2rem 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tQnUU5FSPc .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-tQnUU5FSPc .wrap {
  background: #2a2c2d;
}
.cid-tQnUU5FSPc .link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-tQnUU5FSPc .link-wrapper {
    flex-direction: column;
  }
}
.cid-tQnUU5FSPc .card-title {
  color: #ffffff;
  text-align: left;
}
.cid-tQnUU5FSPc .mbr-text,
.cid-tQnUU5FSPc .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-tQnUU5FSPc .mbr-link,
.cid-tQnUU5FSPc .link-wrapper {
  color: #4f6df5;
  text-align: left;
}
.cid-tQnUU5FSPc .mbr-text {
  text-align: center;
  color: #ffffff;
}
.cid-tQnUU5FSPc .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-uneaqyyUgo {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uneaqyyUgo .item-img {
  position: relative;
}
.cid-uneaqyyUgo .item-img img {
  transition: all 0.2s;
  object-fit: cover;
}
.cid-uneaqyyUgo .cardbg {
  background: #4f6df5;
  height: 100%;
  min-height: 160px;
}
.cid-uneaqyyUgo .mbr-section-subtitle {
  border: 1px solid currentColor;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.2rem 0.7rem;
  display: inline-block;
}
.cid-uneaqyyUgo .image-wrapper {
  overflow: hidden;
}
.cid-uneaqyyUgo .item1 {
  margin-bottom: 2rem !important;
}
.cid-uneaqyyUgo .item-wrapper {
  position: relative;
  background: #ffffff;
  border: 3px solid #ffffff;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uneaqyyUgo .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-uneaqyyUgo .item-link {
  position: absolute;
  bottom: 8px;
  right: 90px;
  color: #ffffff;
}
.cid-uneaqyyUgo .item1,
.cid-uneaqyyUgo .item {
  transition: transform 0.3s;
  margin-bottom: 2rem;
}
.cid-uneaqyyUgo .item1 .item:hover,
.cid-uneaqyyUgo .item .item:hover {
  cursor: pointer;
}
.cid-uneaqyyUgo .item1:hover .link-icon-wrapper span,
.cid-uneaqyyUgo .item:hover .link-icon-wrapper span {
  transform: rotate(-20deg) scale(1.3);
}
@media (max-width: 992px) {
  .cid-uneaqyyUgo .card2 {
    margin-top: 1rem;
  }
}
.cid-uneaqyyUgo .link-icon-wrapper {
  position: absolute;
  right: -1px;
  padding: 2px;
  bottom: -1px;
  background: #ffffff;
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 2rem;
  z-index: 3;
}
.cid-uneaqyyUgo .link-icon-wrapper .icon-wrap {
  background: #000000;
  width: 55px;
  height: 55px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.cid-uneaqyyUgo .link-icon-wrapper .icon-wrap span {
  color: #ffffff;
  font-size: 1.1rem;
  transition: all 0.3s;
  display: block;
  padding-top: 1px;
}
.cid-uneaqyyUgo .link-icon-wrapper .svg1 {
  position: absolute;
  top: -29px;
  right: 0px;
  transform: rotate(180deg);
  width: 30px;
}
.cid-uneaqyyUgo .link-icon-wrapper .svg1 path {
  fill: #ffffff;
}
.cid-uneaqyyUgo .link-icon-wrapper .svg2 {
  position: absolute;
  transform: rotate(180deg);
  width: 30px;
  bottom: 0;
  left: -29px;
}
.cid-uneaqyyUgo .link-icon-wrapper .svg2 path {
  fill: #ffffff;
}
.cid-uneaqyyUgo .item-content {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  padding: 0 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 767px) {
  .cid-uneaqyyUgo .item-content {
    padding: 0 1rem 1.4rem;
    margin-top: 1rem;
  }
}
.cid-uneaqyyUgo img,
.cid-uneaqyyUgo .item-img {
  width: 100%;
}
.cid-uneaqyyUgo .item:focus,
.cid-uneaqyyUgo span:focus {
  outline: none;
}
@media (max-width: 767px) {
  .cid-uneaqyyUgo .item {
    margin-bottom: 1rem;
  }
}
.cid-uneaqyyUgo .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-uneaqyyUgo .item-title {
  text-align: left;
  color: #ffffff;
}
.cid-uneaqyyUgo .item-subtitle {
  text-align: left;
  color: #ffffff;
}
.cid-uneaqyyUgo .mbr-section-subtitle,
.cid-uneaqyyUgo .subtitle-wrap,
.cid-uneaqyyUgo .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-uneaqyyUgo .mbr-text,
.cid-uneaqyyUgo .item .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
