.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.image-wrapper,
.btn-wrap,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Instrument Sans;
}
.display-1 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 2.1rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.625rem;
}
.display-7 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.68rem;
    font-size: calc( 1.385rem + (2.1 - 1.385) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.385rem + (2.1 - 1.385) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #bed2f5 !important;
}
.bg-success {
  background-color: #3a341c !important;
}
.bg-info {
  background-color: #4f6df5 !important;
}
.bg-warning {
  background-color: #a0e2e1 !important;
}
.bg-danger {
  background-color: #ffea64 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #bed2f5 !important;
  border-color: #bed2f5 !important;
  color: #18489c !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #eaf1fc !important;
  border-color: #eaf1fc !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #18489c !important;
  background-color: #eaf1fc !important;
  border-color: #eaf1fc !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #d9db4d !important;
  border-color: #d9db4d !important;
  color: #222207 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #e2e477 !important;
  border-color: #e2e477 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #222207 !important;
  background-color: #e2e477 !important;
  border-color: #e2e477 !important;
}
.btn-info,
.btn-info:active {
  background-color: #4f6df5 !important;
  border-color: #4f6df5 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #7f95f8 !important;
  border-color: #7f95f8 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #7f95f8 !important;
  border-color: #7f95f8 !important;
}
.btn-success,
.btn-success:active {
  background-color: #3a341c !important;
  border-color: #3a341c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
  color: #1f6463 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #1f6463 !important;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
  color: #645600 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #645600 !important;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #bed2f5;
  color: #bed2f5;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #739ee9 !important;
  background-color: transparent !important;
  border-color: #739ee9 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #18489c !important;
  background-color: #bed2f5 !important;
  border-color: #bed2f5 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #d9db4d;
  color: #d9db4d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #acae23 !important;
  background-color: transparent !important;
  border-color: #acae23 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #222207 !important;
  background-color: #d9db4d !important;
  border-color: #d9db4d !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #4f6df5;
  color: #4f6df5;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0d33e1 !important;
  background-color: transparent !important;
  border-color: #0d33e1 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #4f6df5 !important;
  border-color: #4f6df5 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #3a341c;
  color: #3a341c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3a341c !important;
  border-color: #3a341c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #a0e2e1;
  color: #a0e2e1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5ececc !important;
  background-color: transparent !important;
  border-color: #5ececc !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #1f6463 !important;
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffea64;
  color: #ffea64;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffde0d !important;
  background-color: transparent !important;
  border-color: #ffde0d !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #645600 !important;
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #bed2f5 !important;
}
.text-secondary {
  color: #d9db4d !important;
}
.text-success {
  color: #3a341c !important;
}
.text-info {
  color: #4f6df5 !important;
}
.text-warning {
  color: #a0e2e1 !important;
}
.text-danger {
  color: #ffea64 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #6695e7 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a0a121 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #0c30d2 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #52cac8 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #fddb00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #fafafa !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #bed2f5;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #4f6df5;
}
.alert-warning {
  background-color: #a0e2e1;
}
.alert-danger {
  background-color: #ffea64;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #bed2f5;
  border-color: #bed2f5;
  color: #1b52b2;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #bed2f5;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c0b27c;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #bed2f5 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #bed2f5;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #bed2f5;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #bed2f5;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #bed2f5;
  border-bottom-color: #bed2f5;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #bed2f5 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #d9db4d !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23bed2f5' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-v2V05x9xeP {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-v2V05x9xeP .mbr-fallback-image.disabled {
  display: none;
}
.cid-v2V05x9xeP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-v2V05x9xeP .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-v2V05x9xeP .row {
  flex-direction: row-reverse;
}
.cid-v2V05x9xeP .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-v2V05x9xeP .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-v2V05x9xeP .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-v2V05x9xeP .mbr-section-title {
  color: #000000;
}
.cid-v2V05x9xeP .mbr-text,
.cid-v2V05x9xeP .mbr-section-btn {
  color: #232323;
}
.cid-uwQgs7Y7Af {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-uwQgs7Y7Af .item-img {
  position: relative;
}
.cid-uwQgs7Y7Af .item-img img {
  transition: all 0.2s;
  object-fit: cover;
}
.cid-uwQgs7Y7Af .cardbg {
  background: #4f6df5;
  height: 100%;
  min-height: 300px;
}
.cid-uwQgs7Y7Af .mbr-section-subtitle {
  border: 1px solid currentColor;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.2rem 0.7rem;
  display: inline-block;
}
.cid-uwQgs7Y7Af .image-wrapper {
  overflow: hidden;
}
.cid-uwQgs7Y7Af .item1 {
  margin-bottom: 2rem !important;
}
.cid-uwQgs7Y7Af .item-wrapper {
  position: relative;
  background: #ffffff;
  border: 3px solid #ffffff;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uwQgs7Y7Af .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-uwQgs7Y7Af .item-link {
  position: absolute;
  bottom: 8px;
  right: 90px;
  color: #ffffff;
}
.cid-uwQgs7Y7Af .item1,
.cid-uwQgs7Y7Af .item {
  transition: transform 0.3s;
  margin-bottom: 2rem;
}
.cid-uwQgs7Y7Af .item1 .item:hover,
.cid-uwQgs7Y7Af .item .item:hover {
  cursor: pointer;
}
.cid-uwQgs7Y7Af .item1:hover .link-icon-wrapper span,
.cid-uwQgs7Y7Af .item:hover .link-icon-wrapper span {
  transform: rotate(-20deg) scale(1.3);
}
@media (max-width: 992px) {
  .cid-uwQgs7Y7Af .card2 {
    margin-top: 1rem;
  }
}
.cid-uwQgs7Y7Af .link-icon-wrapper {
  position: absolute;
  right: -1px;
  padding: 2px;
  bottom: -1px;
  background: #ffffff;
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 2rem;
  z-index: 3;
}
.cid-uwQgs7Y7Af .link-icon-wrapper .icon-wrap {
  background: #000000;
  width: 55px;
  height: 55px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.cid-uwQgs7Y7Af .link-icon-wrapper .icon-wrap span {
  color: #ffffff;
  font-size: 1.1rem;
  transition: all 0.3s;
  display: block;
  padding-top: 1px;
}
.cid-uwQgs7Y7Af .link-icon-wrapper .svg1 {
  position: absolute;
  top: -29px;
  right: 0px;
  transform: rotate(180deg);
  width: 30px;
}
.cid-uwQgs7Y7Af .link-icon-wrapper .svg1 path {
  fill: #ffffff;
}
.cid-uwQgs7Y7Af .link-icon-wrapper .svg2 {
  position: absolute;
  transform: rotate(180deg);
  width: 30px;
  bottom: 0;
  left: -29px;
}
.cid-uwQgs7Y7Af .link-icon-wrapper .svg2 path {
  fill: #ffffff;
}
.cid-uwQgs7Y7Af .item-content {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  padding: 0 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 767px) {
  .cid-uwQgs7Y7Af .item-content {
    padding: 0 1rem 1.4rem;
    margin-top: 1rem;
  }
}
.cid-uwQgs7Y7Af img,
.cid-uwQgs7Y7Af .item-img {
  width: 100%;
}
.cid-uwQgs7Y7Af .item:focus,
.cid-uwQgs7Y7Af span:focus {
  outline: none;
}
@media (max-width: 767px) {
  .cid-uwQgs7Y7Af .item {
    margin-bottom: 1rem;
  }
}
.cid-uwQgs7Y7Af .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-uwQgs7Y7Af .item-title {
  text-align: left;
  color: #ffffff;
}
.cid-uwQgs7Y7Af .item-subtitle {
  text-align: left;
  color: #ffffff;
}
.cid-uwQgs7Y7Af .mbr-section-subtitle,
.cid-uwQgs7Y7Af .subtitle-wrap,
.cid-uwQgs7Y7Af .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-uwQgs7Y7Af .mbr-text,
.cid-uwQgs7Y7Af .item .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-uwQdWpIpXg {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uwQdWpIpXg .item-img {
  position: relative;
}
.cid-uwQdWpIpXg .item-img img {
  transition: all 0.2s;
}
.cid-uwQdWpIpXg h5 {
  line-height: 1.2;
}
.cid-uwQdWpIpXg .item {
  transition: transform 0.3s;
  margin-bottom: 2rem;
}
.cid-uwQdWpIpXg .item:hover {
  cursor: pointer;
  transform: translateY(-6px);
}
.cid-uwQdWpIpXg .item:hover .link-icon-wrapper span {
  transform: rotate(-20deg) scale(1.3);
}
.cid-uwQdWpIpXg .item:hover img {
  transform: scale(1.05);
}
.cid-uwQdWpIpXg .mbr-section-subtitle {
  border-radius: 1rem;
  width: fit-content;
  padding: 0.2rem 0.7rem;
  display: inline-block;
  background: #bed2f5;
}
@media (max-width: 992px) {
  .cid-uwQdWpIpXg .subtitle-wrap,
  .cid-uwQdWpIpXg .mbr-section-subtitle {
    text-align: center;
  }
}
.cid-uwQdWpIpXg .image-wrapper {
  overflow: hidden;
  border-radius: 2rem;
}
.cid-uwQdWpIpXg .item-wrapper {
  position: relative;
  background: #ffffff;
  border: 3px solid #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uwQdWpIpXg .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-uwQdWpIpXg .item-link {
  position: absolute;
  bottom: 8px;
  right: 90px;
  color: #ffffff;
}
.cid-uwQdWpIpXg .link-icon-wrapper {
  position: absolute;
  right: -1px;
  padding: 2px;
  bottom: -1px;
  background: #ffffff;
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 2rem;
  z-index: 3;
}
.cid-uwQdWpIpXg .link-icon-wrapper .icon-wrap {
  background: #000000;
  width: 55px;
  height: 55px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.cid-uwQdWpIpXg .link-icon-wrapper .icon-wrap span {
  color: #ffffff;
  font-size: 1.1rem;
  transition: all 0.3s;
  display: block;
  padding-top: 1px;
}
.cid-uwQdWpIpXg .link-icon-wrapper .svg1 {
  position: absolute;
  top: -29px;
  right: 0px;
  transform: rotate(180deg);
  width: 30px;
}
.cid-uwQdWpIpXg .link-icon-wrapper .svg1 path {
  fill: #ffffff;
}
.cid-uwQdWpIpXg .link-icon-wrapper .svg2 {
  position: absolute;
  transform: rotate(180deg);
  width: 30px;
  bottom: 0;
  left: -29px;
}
.cid-uwQdWpIpXg .link-icon-wrapper .svg2 path {
  fill: #ffffff;
}
.cid-uwQdWpIpXg .item-content {
  padding: 0.5rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 767px) {
  .cid-uwQdWpIpXg .item-content {
    padding: 0 0.5rem;
    padding-top: 1rem;
  }
}
.cid-uwQdWpIpXg img,
.cid-uwQdWpIpXg .item-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-uwQdWpIpXg .item:focus,
.cid-uwQdWpIpXg span:focus {
  outline: none;
}
@media (max-width: 767px) {
  .cid-uwQdWpIpXg .item {
    margin-bottom: 1rem;
  }
}
.cid-uwQdWpIpXg .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-uwQdWpIpXg .item-title {
  text-align: left;
  color: #000000;
}
.cid-uwQdWpIpXg .item-subtitle {
  text-align: left;
  color: #000000;
}
.cid-uwQdWpIpXg .mbr-text,
.cid-uwQdWpIpXg .item .mbr-section-btn {
  color: #000000;
}
.cid-uwQdWpIpXg .mbr-section-subtitle,
.cid-uwQdWpIpXg .subtitle-wrap,
.cid-uwQdWpIpXg .mbr-section-btn {
  text-align: left;
}
.cid-v2UBKp00b9 {
  padding-top: 1rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-v2UBKp00b9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-v2UBKp00b9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-v2UBKp00b9 input:hover {
  border-color: white !important;
}
.cid-v2UBKp00b9 .col-auto {
  width: 100%;
  text-align: right !important;
}
@media (max-width: 992px) {
  .cid-v2UBKp00b9 .mb {
    margin-bottom: 2rem;
  }
}
.cid-v2UBKp00b9 img {
  object-fit: cover;
}
.cid-v2UBKp00b9 .btn,
.cid-v2UBKp00b9 .btn:hover,
.cid-v2UBKp00b9 .btn:focus,
.cid-v2UBKp00b9 .btn:active {
  background: transparent !important;
  border: none !important;
  color: white;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.cid-v2UBKp00b9 .item-wrapper {
  width: 100%;
}
.cid-v2UBKp00b9 .icon-wrap {
  display: inline-flex;
  margin-top: 2rem;
}
.cid-v2UBKp00b9 .card-box {
  padding: 3rem 2rem;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  .cid-v2UBKp00b9 .card-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-v2UBKp00b9 .card-box {
    padding: 1rem;
  }
}
.cid-v2UBKp00b9 .mobi-mbri {
  color: black;
  background: #000000;
  font-size: 1.2rem !important;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 1px;
  margin-left: 1rem;
}
.cid-v2UBKp00b9 .card-wrapper {
  display: flex;
}
.cid-v2UBKp00b9 .wrap {
  background: #4f6df5;
}
.cid-v2UBKp00b9 .card-title {
  color: #ffffff;
  text-align: left;
}
.cid-v2UBKp00b9 .mbr-text,
.cid-v2UBKp00b9 .card-box {
  text-align: center;
  color: #ffffff;
}
.cid-v2UBKp00b9 .mbr-link,
.cid-v2UBKp00b9 .link-wrapper {
  color: #000000;
  text-align: left;
}
.cid-v2UBKp00b9 .mbr-text {
  text-align: left;
  color: #ffffff;
}
.cid-v2UBKp00b9 .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
.cid-uneaqyyUgo {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-uneaqyyUgo .item-img {
  position: relative;
}
.cid-uneaqyyUgo .item-img img {
  transition: all 0.2s;
  object-fit: cover;
}
.cid-uneaqyyUgo .cardbg {
  background: #4f6df5;
  height: 100%;
  min-height: 160px;
}
.cid-uneaqyyUgo .mbr-section-subtitle {
  border: 1px solid currentColor;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.2rem 0.7rem;
  display: inline-block;
}
.cid-uneaqyyUgo .image-wrapper {
  overflow: hidden;
}
.cid-uneaqyyUgo .item1 {
  margin-bottom: 2rem !important;
}
.cid-uneaqyyUgo .item-wrapper {
  position: relative;
  background: #ffffff;
  border: 3px solid #ffffff;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uneaqyyUgo .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-uneaqyyUgo .item-link {
  position: absolute;
  bottom: 8px;
  right: 90px;
  color: #ffffff;
}
.cid-uneaqyyUgo .item1,
.cid-uneaqyyUgo .item {
  transition: transform 0.3s;
  margin-bottom: 2rem;
}
.cid-uneaqyyUgo .item1 .item:hover,
.cid-uneaqyyUgo .item .item:hover {
  cursor: pointer;
}
.cid-uneaqyyUgo .item1:hover .link-icon-wrapper span,
.cid-uneaqyyUgo .item:hover .link-icon-wrapper span {
  transform: rotate(-20deg) scale(1.3);
}
@media (max-width: 992px) {
  .cid-uneaqyyUgo .card2 {
    margin-top: 1rem;
  }
}
.cid-uneaqyyUgo .link-icon-wrapper {
  position: absolute;
  right: -1px;
  padding: 2px;
  bottom: -1px;
  background: #ffffff;
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 2rem;
  z-index: 3;
}
.cid-uneaqyyUgo .link-icon-wrapper .icon-wrap {
  background: #000000;
  width: 55px;
  height: 55px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.cid-uneaqyyUgo .link-icon-wrapper .icon-wrap span {
  color: #ffffff;
  font-size: 1.1rem;
  transition: all 0.3s;
  display: block;
  padding-top: 1px;
}
.cid-uneaqyyUgo .link-icon-wrapper .svg1 {
  position: absolute;
  top: -29px;
  right: 0px;
  transform: rotate(180deg);
  width: 30px;
}
.cid-uneaqyyUgo .link-icon-wrapper .svg1 path {
  fill: #ffffff;
}
.cid-uneaqyyUgo .link-icon-wrapper .svg2 {
  position: absolute;
  transform: rotate(180deg);
  width: 30px;
  bottom: 0;
  left: -29px;
}
.cid-uneaqyyUgo .link-icon-wrapper .svg2 path {
  fill: #ffffff;
}
.cid-uneaqyyUgo .item-content {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  padding: 0 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 767px) {
  .cid-uneaqyyUgo .item-content {
    padding: 0 1rem 1.4rem;
    margin-top: 1rem;
  }
}
.cid-uneaqyyUgo img,
.cid-uneaqyyUgo .item-img {
  width: 100%;
}
.cid-uneaqyyUgo .item:focus,
.cid-uneaqyyUgo span:focus {
  outline: none;
}
@media (max-width: 767px) {
  .cid-uneaqyyUgo .item {
    margin-bottom: 1rem;
  }
}
.cid-uneaqyyUgo .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-uneaqyyUgo .item-title {
  text-align: left;
  color: #ffffff;
}
.cid-uneaqyyUgo .item-subtitle {
  text-align: left;
  color: #ffffff;
}
.cid-uneaqyyUgo .mbr-section-subtitle,
.cid-uneaqyyUgo .subtitle-wrap,
.cid-uneaqyyUgo .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-uneaqyyUgo .mbr-text,
.cid-uneaqyyUgo .item .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-v2UZAlCMeo {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-v2UZAlCMeo .row-links {
  width: 100%;
  justify-content: center;
}
.cid-v2UZAlCMeo .social-row {
  width: 100%;
  justify-content: center;
}
.cid-v2UZAlCMeo .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-v2UZAlCMeo .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-v2UZAlCMeo .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-v2UZAlCMeo .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-v2UZAlCMeo .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-v2UZAlCMeo .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-v2UZAlCMeo .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-v2UZAlCMeo .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-v2UZAlCMeo .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-v2UZAlCMeo .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-v2UZAlCMeo .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-v2UZAlCMeo .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-uwR3ckrrd1 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uwR3ckrrd1 .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-uwR3ckrrd1 .image-wrapper {
    padding: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-uwR3ckrrd1 .image-wrapper {
    padding-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-uwR3ckrrd1 .text-wrapper {
    padding: 0 2rem 0 6.2rem;
  }
}
.cid-uwR3ckrrd1 .under-image {
  width: 100%;
  height: 30%;
  text-align: center;
  padding: 3rem  1rem;
  margin-top: 0.65rem;
  background: #4f6df5;
}
.cid-uwR3ckrrd1 .mbr-section-title {
  color: #4f6df5;
  text-align: left;
}
.cid-uwR3ckrrd1 .under-img {
  text-align: center;
  color: #f7f5f0;
  margin: 0 !important;
}
.cid-uwR3ckrrd1 .mbr-text,
.cid-uwR3ckrrd1 .mbr-section-btn {
  text-align: left;
  color: #8d8d8d;
}
.cid-uwR3ckrrd1 .mbr-text {
  line-height: 1.4;
}
.cid-uwR3ckrrd1 .mbr-text {
  padding-top: 2rem;
}
.cid-uwR3ckrrd1 .mbr-section-btn {
  margin-top: 2.9rem !important;
}
.cid-uwR3ckrrd1 .mbr-section-title P {
  text-align: left;
}
.cid-uwR3ckrrd1 .sub-title P {
  text-align: left;
}
.cid-uwR3ckrrd1 .sub-title {
  color: #47a15d;
  text-align: left;
}
.cid-uwR3ckrrd1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uwR3ckrrd1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uwQQsMwNcW {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uwQQsMwNcW .item-img {
  position: relative;
}
.cid-uwQQsMwNcW .item-img img {
  transition: all 0.2s;
  object-fit: cover;
}
.cid-uwQQsMwNcW .cardbg {
  background: #4f6df5;
  height: 100%;
  min-height: 160px;
}
.cid-uwQQsMwNcW .mbr-section-subtitle {
  border: 1px solid currentColor;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.2rem 0.7rem;
  display: inline-block;
}
.cid-uwQQsMwNcW .image-wrapper {
  overflow: hidden;
}
.cid-uwQQsMwNcW .item1 {
  margin-bottom: 2rem !important;
}
.cid-uwQQsMwNcW .item-wrapper {
  position: relative;
  background: #ffffff;
  border: 3px solid #ffffff;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uwQQsMwNcW .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-uwQQsMwNcW .item-link {
  position: absolute;
  bottom: 8px;
  right: 90px;
  color: #ffffff;
}
.cid-uwQQsMwNcW .item1,
.cid-uwQQsMwNcW .item {
  transition: transform 0.3s;
  margin-bottom: 2rem;
}
.cid-uwQQsMwNcW .item1 .item:hover,
.cid-uwQQsMwNcW .item .item:hover {
  cursor: pointer;
}
.cid-uwQQsMwNcW .item1:hover .link-icon-wrapper span,
.cid-uwQQsMwNcW .item:hover .link-icon-wrapper span {
  transform: rotate(-20deg) scale(1.3);
}
@media (max-width: 992px) {
  .cid-uwQQsMwNcW .card2 {
    margin-top: 1rem;
  }
}
.cid-uwQQsMwNcW .link-icon-wrapper {
  position: absolute;
  right: -1px;
  padding: 2px;
  bottom: -1px;
  background: #ffffff;
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 2rem;
  z-index: 3;
}
.cid-uwQQsMwNcW .link-icon-wrapper .icon-wrap {
  background: #000000;
  width: 55px;
  height: 55px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.cid-uwQQsMwNcW .link-icon-wrapper .icon-wrap span {
  color: #ffffff;
  font-size: 1.1rem;
  transition: all 0.3s;
  display: block;
  padding-top: 1px;
}
.cid-uwQQsMwNcW .link-icon-wrapper .svg1 {
  position: absolute;
  top: -29px;
  right: 0px;
  transform: rotate(180deg);
  width: 30px;
}
.cid-uwQQsMwNcW .link-icon-wrapper .svg1 path {
  fill: #ffffff;
}
.cid-uwQQsMwNcW .link-icon-wrapper .svg2 {
  position: absolute;
  transform: rotate(180deg);
  width: 30px;
  bottom: 0;
  left: -29px;
}
.cid-uwQQsMwNcW .link-icon-wrapper .svg2 path {
  fill: #ffffff;
}
.cid-uwQQsMwNcW .item-content {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  padding: 0 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 767px) {
  .cid-uwQQsMwNcW .item-content {
    padding: 0 1rem 1.4rem;
    margin-top: 1rem;
  }
}
.cid-uwQQsMwNcW img,
.cid-uwQQsMwNcW .item-img {
  width: 100%;
}
.cid-uwQQsMwNcW .item:focus,
.cid-uwQQsMwNcW span:focus {
  outline: none;
}
@media (max-width: 767px) {
  .cid-uwQQsMwNcW .item {
    margin-bottom: 1rem;
  }
}
.cid-uwQQsMwNcW .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-uwQQsMwNcW .item-title {
  text-align: left;
  color: #ffffff;
}
.cid-uwQQsMwNcW .item-subtitle {
  text-align: left;
  color: #ffffff;
}
.cid-uwQQsMwNcW .mbr-section-subtitle,
.cid-uwQQsMwNcW .subtitle-wrap,
.cid-uwQQsMwNcW .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-uwQQsMwNcW .mbr-text,
.cid-uwQQsMwNcW .item .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-v2UZAlCMeo {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-v2UZAlCMeo .row-links {
  width: 100%;
  justify-content: center;
}
.cid-v2UZAlCMeo .social-row {
  width: 100%;
  justify-content: center;
}
.cid-v2UZAlCMeo .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-v2UZAlCMeo .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-v2UZAlCMeo .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-v2UZAlCMeo .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-v2UZAlCMeo .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-v2UZAlCMeo .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-v2UZAlCMeo .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-v2UZAlCMeo .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-v2UZAlCMeo .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-v2UZAlCMeo .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-v2UZAlCMeo .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-v2UZAlCMeo .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-ux7yK86zeb {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
  overflow: hidden;
}
.cid-ux7yK86zeb .mbr-fallback-image.disabled {
  display: none;
}
.cid-ux7yK86zeb .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-ux7yK86zeb .container {
    padding: 0 22px;
  }
}
.cid-ux7yK86zeb .row {
  justify-content: center;
}
.cid-ux7yK86zeb .title-wrapper .mbr-section-title {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .cid-ux7yK86zeb .title-wrapper .mbr-section-title {
    margin-bottom: 20px;
  }
}
.cid-ux7yK86zeb .tabs-wrap {
  text-align: center;
  margin-bottom: 20px;
}
.cid-ux7yK86zeb .tabs-wrap .nav.nav-tabs {
  display: inline-flex;
  justify-content: center;
  border: none;
}
.cid-ux7yK86zeb .tabs-wrap .nav.nav-tabs .nav-item {
  padding: 0;
  border: none;
  border-radius: 0;
  margin: 0 22px 22px;
  transition: all 0.3s ease-in-out;
}
.cid-ux7yK86zeb .tabs-wrap .nav.nav-tabs .nav-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  margin-bottom: 0;
  border: none;
  color: #000000;
  background-color: #ffffff;
  border-radius: 100px !important;
  transition: all 0.3s ease-in-out;
}
.cid-ux7yK86zeb .tabs-wrap .nav.nav-tabs .nav-item .nav-link.active {
  background-color: #00d0f3;
}
.cid-ux7yK86zeb .content-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 520px;
}
.cid-ux7yK86zeb .content-wrapper img {
  position: absolute;
  top: 0;
  width: 200vh;
  height: 100%;
  border-radius: 0 !important;
  object-fit: cover;
}
.cid-ux7yK86zeb .content-wrapper::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 200vh;
  height: 45%;
  background-image: linear-gradient(transparent, #000305 130px);
  z-index: 1;
}
.cid-ux7yK86zeb .content-wrapper .item-content {
  width: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .cid-ux7yK86zeb .content-wrapper .item-content {
    margin-bottom: 30px;
  }
}
.cid-ux7yK86zeb .content-wrapper .item-content .card-title {
  margin-bottom: 8px;
}
.cid-ux7yK86zeb .content-wrapper .item-content .card-text {
  margin-bottom: 10px;
}
.cid-ux7yK86zeb .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-ux7yK86zeb .card-title {
  color: #ffffff;
}
.cid-ux7yK86zeb .card-text {
  color: #ffffff;
}
.cid-ux7yRRim53 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #e2e7f8;
}
.cid-ux7yRRim53 .mbr-fallback-image.disabled {
  display: none;
}
.cid-ux7yRRim53 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ux7yRRim53 .container-fluid {
  padding: 10px 8px;
}
@media (max-width: 992px) {
  .cid-ux7yRRim53 .container {
    padding: 10px 8px;
  }
}
.cid-ux7yRRim53 .row {
  border-radius: 25px;
  background-color: #ffffff;
  padding: 100px 32px;
  margin: 0;
  overflow: hidden;
}
@media (max-width: 768px) {
  .cid-ux7yRRim53 .row {
    padding: 50px 2px;
  }
}
.cid-ux7yRRim53 .row .card {
  padding: 0 8px;
}
@media (max-width: 992px) {
  .cid-ux7yRRim53 .desc-wrapper {
    margin-bottom: 20px;
  }
}
.cid-ux7yRRim53 .desc-wrapper .mbr-desc {
  display: inline-flex;
  border: 1px solid #bad6ff;
  border-radius: 300px;
  padding: 5px 25px;
  background-color: #e1edff;
  margin-bottom: 0;
}
.cid-ux7yRRim53 .mbr-section-title {
  margin-bottom: 50px;
  color: #222222;
}
@media (max-width: 768px) {
  .cid-ux7yRRim53 .mbr-section-title {
    margin-bottom: 30px;
  }
}
.cid-ux7yRRim53 .mbr-section-title span {
  opacity: .5;
}
.cid-ux7yRRim53 .tabs-wrap {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .cid-ux7yRRim53 .tabs-wrap {
    margin-bottom: 30px;
  }
}
.cid-ux7yRRim53 .tabs-wrap .nav.nav-tabs {
  display: inline-flex;
  border: none;
}
.cid-ux7yRRim53 .tabs-wrap .nav.nav-tabs .nav-item {
  padding: 0;
  border: none;
  margin: 0 10px 10px 0;
  transition: all 0.3s ease-in-out;
}
.cid-ux7yRRim53 .tabs-wrap .nav.nav-tabs .nav-item:last-child {
  margin-right: 0;
}
.cid-ux7yRRim53 .tabs-wrap .nav.nav-tabs .nav-item .nav-link {
  margin-bottom: 0;
  color: #3283fb;
  background-color: #ffffff;
  padding: 35px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border: 2px solid #3283fb;
  border-radius: 100px !important;
}
@media (max-width: 768px) {
  .cid-ux7yRRim53 .tabs-wrap .nav.nav-tabs .nav-item .nav-link {
    padding: 30px 50px;
  }
}
.cid-ux7yRRim53 .tabs-wrap .nav.nav-tabs .nav-item .nav-link.active {
  color: #ffffff;
  background-color: #3283fb;
}
.cid-ux7yRRim53 .content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}
@media (max-width: 992px) {
  .cid-ux7yRRim53 .content-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .cid-ux7yRRim53 .content-wrapper {
    grid-template-columns: 1fr;
  }
}
.cid-ux7yRRim53 .content-wrapper .item {
  min-height: 300px;
}
.cid-ux7yRRim53 .content-wrapper .item .item-wrapper {
  border-radius: 0 !important;
  height: 100%;
}
.cid-ux7yRRim53 .content-wrapper .item .item-wrapper .item-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  position: relative;
  border-radius: 25px !important;
  overflow: hidden;
  height: 100%;
}
@media (max-width: 992px) {
  .cid-ux7yRRim53 .content-wrapper .item .item-wrapper .item-img {
    padding: 20px 15px;
  }
}
.cid-ux7yRRim53 .content-wrapper .item .item-wrapper .item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
  object-fit: cover;
}
.cid-ux7yRRim53 .content-wrapper .item .item-wrapper .item-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222222;
  opacity: .7;
  pointer-events: none;
  z-index: 1;
}
.cid-ux7yRRim53 .content-wrapper .item .item-wrapper .item-img a {
  width: 100%;
  position: relative;
  z-index: 1;
  display: block;
  text-align: right;
}
.cid-ux7yRRim53 .content-wrapper .item .item-wrapper .item-img a:hover .mbr-iconfont,
.cid-ux7yRRim53 .content-wrapper .item .item-wrapper .item-img a:focus .mbr-iconfont {
  transform: scale(1.15);
}
.cid-ux7yRRim53 .content-wrapper .item .item-wrapper .item-img a .mbr-iconfont {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #3283fb;
  color: #ffffff;
  font-size: 16px;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
  pointer-events: visible;
}
.cid-ux7yRRim53 .content-wrapper .item .item-wrapper .item-img .item-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.cid-ux7yRRim53 .content-wrapper .item .item-wrapper .item-img .item-content .card-title {
  margin-bottom: 0;
  pointer-events: visible;
}
.cid-ux7yRRim53 .content-wrapper .item .item-wrapper .item-img .item-content .card-desc {
  margin-bottom: 0;
  pointer-events: visible;
}
.cid-ux7yRRim53 .item-menu-overlay .btn-wrapper {
  margin-right: 25%;
}
.cid-ux7yRRim53 .mbr-desc {
  color: #3283fb;
}
.cid-ux7yRRim53 .card-title {
  color: #ffffff;
}
.cid-ux7yRRim53 .card-desc {
  color: #ffffff;
}
.cid-uwWhx1aqb6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uwWhx1aqb6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uwWhx1aqb6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uwWhx1aqb6 .container-fluid {
  padding: 0 64px;
}
@media (max-width: 992px) {
  .cid-uwWhx1aqb6 .container-fluid {
    padding: 0 32px;
  }
}
@media (max-width: 768px) {
  .cid-uwWhx1aqb6 .container-fluid {
    padding: 0 24px;
  }
}
@media (max-width: 992px) {
  .cid-uwWhx1aqb6 .container {
    padding: 0 32px;
  }
}
@media (max-width: 768px) {
  .cid-uwWhx1aqb6 .container {
    padding: 0 24px;
  }
}
.cid-uwWhx1aqb6 .image-wrapper {
  position: sticky;
  top: 32px;
}
@media (max-width: 992px) {
  .cid-uwWhx1aqb6 .image-wrapper {
    margin-bottom: 32px;
  }
}
.cid-uwWhx1aqb6 .image-wrapper img {
  height: 90vh;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uwWhx1aqb6 .image-wrapper img {
    height: 400px;
  }
}
.cid-uwWhx1aqb6 .content-wrapper {
  padding: 64px;
  border-radius: 2rem !important;
  border: 1px solid #edeceb;
  background-color: #fbfaf9;
}
@media (max-width: 992px) {
  .cid-uwWhx1aqb6 .content-wrapper {
    padding: 24px;
  }
}
.cid-uwWhx1aqb6 .content-wrapper .content-wrap {
  margin-bottom: 32px;
}
.cid-uwWhx1aqb6 .content-wrapper .content-wrap .desc-wrapper .mbr-desc {
  display: inline-flex;
  padding: 2px 10px;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 16px;
  border-radius: 500px;
  border: 1px solid #edeceb;
}
.cid-uwWhx1aqb6 .content-wrapper .content-wrap .mbr-section-title {
  margin-bottom: 16px;
}
.cid-uwWhx1aqb6 .content-wrapper .content-wrap .mbr-text_1 {
  opacity: .5;
  margin-bottom: 0;
}
.cid-uwWhx1aqb6 .content-wrapper .content-wrap .mbr-section-subtitle {
  margin-bottom: 16px;
}
.cid-uwWhx1aqb6 .content-wrapper .content-wrap .mbr-text_2 {
  margin-bottom: 0;
}
.cid-uwWhx1aqb6 .content-wrapper .person-wrapper {
  margin-bottom: 48px;
}
.cid-uwWhx1aqb6 .content-wrapper .person-wrapper .person-wrap {
  display: inline-flex;
  align-items: center;
  border-radius: 1rem;
  background-color: #ffffff;
  border: 1px solid #edeceb;
  padding: 16px;
}
.cid-uwWhx1aqb6 .content-wrapper .person-wrapper .person-wrap img {
  width: 50px;
  height: 50px;
  border-radius: 100% !important;
  object-fit: cover;
  margin-right: 16px;
}
.cid-uwWhx1aqb6 .content-wrapper .person-wrapper .person-wrap .name-wrapper .mbr-name {
  margin-bottom: 0;
}
.cid-uwWhx1aqb6 .content-wrapper .person-wrapper .person-wrap .name-wrapper .mbr-role {
  opacity: .5;
  margin-bottom: 0;
}
.cid-uwWhx1aqb6 .mbr-section-title {
  color: #18212d;
}
.cid-uwWhx1aqb6 .mbr-section-subtitle {
  color: #18212d;
}
.cid-uwWhx1aqb6 .mbr-desc {
  color: #18212d;
}
.cid-uwWhx1aqb6 .mbr-text_1 {
  color: #18212d;
}
.cid-uwWhx1aqb6 .mbr-text_2 {
  color: #18212d;
}
.cid-uwWhx1aqb6 .mbr-role {
  color: #18212d;
}
.cid-uwWhx1aqb6 .mbr-name {
  color: #18212d;
}
.cid-uwYVP7UxD1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uwYVP7UxD1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uwYVP7UxD1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uwYVP7UxD1 .container-fluid {
  padding: 0 64px;
}
@media (max-width: 992px) {
  .cid-uwYVP7UxD1 .container-fluid {
    padding: 0 32px;
  }
}
@media (max-width: 768px) {
  .cid-uwYVP7UxD1 .container-fluid {
    padding: 0 24px;
  }
}
@media (max-width: 992px) {
  .cid-uwYVP7UxD1 .container {
    padding: 0 32px;
  }
}
@media (max-width: 768px) {
  .cid-uwYVP7UxD1 .container {
    padding: 0 24px;
  }
}
.cid-uwYVP7UxD1 .image-wrapper {
  position: sticky;
  top: 32px;
}
@media (max-width: 992px) {
  .cid-uwYVP7UxD1 .image-wrapper {
    margin-bottom: 32px;
  }
}
.cid-uwYVP7UxD1 .image-wrapper img {
  height: 90vh;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uwYVP7UxD1 .image-wrapper img {
    height: 400px;
  }
}
.cid-uwYVP7UxD1 .content-wrapper {
  padding: 64px;
  border-radius: 2rem !important;
  border: 1px solid #edeceb;
  background-color: #fbfaf9;
}
@media (max-width: 992px) {
  .cid-uwYVP7UxD1 .content-wrapper {
    padding: 24px;
  }
}
.cid-uwYVP7UxD1 .content-wrapper .content-wrap {
  margin-bottom: 32px;
}
.cid-uwYVP7UxD1 .content-wrapper .content-wrap .desc-wrapper .mbr-desc {
  display: inline-flex;
  padding: 2px 10px;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 16px;
  border-radius: 500px;
  border: 1px solid #edeceb;
}
.cid-uwYVP7UxD1 .content-wrapper .content-wrap .mbr-section-title {
  margin-bottom: 16px;
}
.cid-uwYVP7UxD1 .content-wrapper .content-wrap .mbr-text_1 {
  opacity: .5;
  margin-bottom: 0;
}
.cid-uwYVP7UxD1 .content-wrapper .content-wrap .mbr-section-subtitle {
  margin-bottom: 16px;
}
.cid-uwYVP7UxD1 .content-wrapper .content-wrap .mbr-text_2 {
  margin-bottom: 0;
}
.cid-uwYVP7UxD1 .content-wrapper .person-wrapper {
  margin-bottom: 48px;
}
.cid-uwYVP7UxD1 .content-wrapper .person-wrapper .person-wrap {
  display: inline-flex;
  align-items: center;
  border-radius: 1rem;
  background-color: #ffffff;
  border: 1px solid #edeceb;
  padding: 16px;
}
.cid-uwYVP7UxD1 .content-wrapper .person-wrapper .person-wrap img {
  width: 50px;
  height: 50px;
  border-radius: 100% !important;
  object-fit: cover;
  margin-right: 16px;
}
.cid-uwYVP7UxD1 .content-wrapper .person-wrapper .person-wrap .name-wrapper .mbr-name {
  margin-bottom: 0;
}
.cid-uwYVP7UxD1 .content-wrapper .person-wrapper .person-wrap .name-wrapper .mbr-role {
  opacity: .5;
  margin-bottom: 0;
}
.cid-uwYVP7UxD1 .mbr-section-title {
  color: #18212d;
}
.cid-uwYVP7UxD1 .mbr-section-subtitle {
  color: #18212d;
}
.cid-uwYVP7UxD1 .mbr-desc {
  color: #18212d;
}
.cid-uwYVP7UxD1 .mbr-text_1 {
  color: #18212d;
}
.cid-uwYVP7UxD1 .mbr-text_2 {
  color: #18212d;
}
.cid-uwYVP7UxD1 .mbr-role {
  color: #18212d;
}
.cid-uwYVP7UxD1 .mbr-name {
  color: #18212d;
}
.cid-uwWgGy3b5J {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uwWgGy3b5J .item-img {
  position: relative;
}
.cid-uwWgGy3b5J .item-img img {
  transition: all 0.2s;
  object-fit: cover;
}
.cid-uwWgGy3b5J .cardbg {
  background: #4f6df5;
  height: 100%;
  min-height: 160px;
}
.cid-uwWgGy3b5J .mbr-section-subtitle {
  border: 1px solid currentColor;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.2rem 0.7rem;
  display: inline-block;
}
.cid-uwWgGy3b5J .image-wrapper {
  overflow: hidden;
}
.cid-uwWgGy3b5J .item1 {
  margin-bottom: 2rem !important;
}
.cid-uwWgGy3b5J .item-wrapper {
  position: relative;
  background: #ffffff;
  border: 3px solid #ffffff;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uwWgGy3b5J .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-uwWgGy3b5J .item-link {
  position: absolute;
  bottom: 8px;
  right: 90px;
  color: #ffffff;
}
.cid-uwWgGy3b5J .item1,
.cid-uwWgGy3b5J .item {
  transition: transform 0.3s;
  margin-bottom: 2rem;
}
.cid-uwWgGy3b5J .item1 .item:hover,
.cid-uwWgGy3b5J .item .item:hover {
  cursor: pointer;
}
.cid-uwWgGy3b5J .item1:hover .link-icon-wrapper span,
.cid-uwWgGy3b5J .item:hover .link-icon-wrapper span {
  transform: rotate(-20deg) scale(1.3);
}
@media (max-width: 992px) {
  .cid-uwWgGy3b5J .card2 {
    margin-top: 1rem;
  }
}
.cid-uwWgGy3b5J .link-icon-wrapper {
  position: absolute;
  right: -1px;
  padding: 2px;
  bottom: -1px;
  background: #ffffff;
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 2rem;
  z-index: 3;
}
.cid-uwWgGy3b5J .link-icon-wrapper .icon-wrap {
  background: #000000;
  width: 55px;
  height: 55px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.cid-uwWgGy3b5J .link-icon-wrapper .icon-wrap span {
  color: #ffffff;
  font-size: 1.1rem;
  transition: all 0.3s;
  display: block;
  padding-top: 1px;
}
.cid-uwWgGy3b5J .link-icon-wrapper .svg1 {
  position: absolute;
  top: -29px;
  right: 0px;
  transform: rotate(180deg);
  width: 30px;
}
.cid-uwWgGy3b5J .link-icon-wrapper .svg1 path {
  fill: #ffffff;
}
.cid-uwWgGy3b5J .link-icon-wrapper .svg2 {
  position: absolute;
  transform: rotate(180deg);
  width: 30px;
  bottom: 0;
  left: -29px;
}
.cid-uwWgGy3b5J .link-icon-wrapper .svg2 path {
  fill: #ffffff;
}
.cid-uwWgGy3b5J .item-content {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  padding: 0 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 767px) {
  .cid-uwWgGy3b5J .item-content {
    padding: 0 1rem 1.4rem;
    margin-top: 1rem;
  }
}
.cid-uwWgGy3b5J img,
.cid-uwWgGy3b5J .item-img {
  width: 100%;
}
.cid-uwWgGy3b5J .item:focus,
.cid-uwWgGy3b5J span:focus {
  outline: none;
}
@media (max-width: 767px) {
  .cid-uwWgGy3b5J .item {
    margin-bottom: 1rem;
  }
}
.cid-uwWgGy3b5J .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-uwWgGy3b5J .item-title {
  text-align: left;
  color: #ffffff;
}
.cid-uwWgGy3b5J .item-subtitle {
  text-align: left;
  color: #ffffff;
}
.cid-uwWgGy3b5J .mbr-section-subtitle,
.cid-uwWgGy3b5J .subtitle-wrap,
.cid-uwWgGy3b5J .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-uwWgGy3b5J .mbr-text,
.cid-uwWgGy3b5J .item .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-v2UZAlCMeo {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-v2UZAlCMeo .row-links {
  width: 100%;
  justify-content: center;
}
.cid-v2UZAlCMeo .social-row {
  width: 100%;
  justify-content: center;
}
.cid-v2UZAlCMeo .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-v2UZAlCMeo .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-v2UZAlCMeo .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-v2UZAlCMeo .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-v2UZAlCMeo .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-v2UZAlCMeo .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-v2UZAlCMeo .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-v2UZAlCMeo .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-v2UZAlCMeo .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-v2UZAlCMeo .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-v2UZAlCMeo .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-v2UZAlCMeo .media-container-row .row-copirayt p {
  width: 100%;
}
